:root{ /* Parte do CSS feita para declaração de variáveis */
    --color-primary: #239da8;
    --color-secundary: #34d0df;
}

*{ /* serão comandos feitos para padronizar todos os objetos do site */
    margin:0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.home{
    height: 80vh;  /* unidade vh/vw correspondem a porcentagem do tamanho da tela do usuário  */
    width: 100vw;
    background-color: #252525;
    background-image: url(../images/Escola.jpg);
    background-size: cover;
    animation-name: HomeAnimation;
    animation-duration: 2500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes HomeAnimation{
    from{
        filter: grayscale(0%) brightness(100%);
    }
    to{
        filter: grayscale(100%) brightness(60%);
    }
}

.home h1{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 25vh;
    font-size: 10vh;
    animation-name: HomeH1Animation;
    animation-duration: 2500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes HomeH1Animation{
    from {
        filter: opacity(0%);
    }
    to{
        filter: opacity(100%);
    }
}


.header{
    padding-top: 10px; /* distância do cabeçalho para o topo da página */
    width: 100vw;
    background-color:var(--color-primary);
    height: 20vh;
}

.header .menu ul {
    display: flex; 
    list-style: none;
    justify-content: center;
}

.header .menu ul li {
    display: flex;
    align-items: center;
    margin: 0 1vw 0 1vw ;
}

.header .menu ul li .options{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px 10px;
    border-radius: 10px;
}

.header .menu ul li .logo{ /* modificações na logo que fica no cabeçalho */
    margin: 0 30px;
    border-radius: 100px;
    width: 13vw;
    height: 16vh;
}

.header .menu ul li .options:hover{  /* ações que acontecerão ao passar o rato nas opções do cabeçalho */
    color:var(--color-secundary);
    background-color: rgb(25, 25, 25);
    padding: 14px 20px 14px; /* fazer transiçao ou tentar com animação */
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}